body {
  font-family: "Open Sans", sans-serif;
  color: rgb(41, 41, 41);
}

.image {
  height: 100%;
  width: 100%;
}

/* NAVIGATION */

header {
  background-color: #ffffff;
  font-size: 0.9em;
  font-weight: 300;
  position: fixed;
  top: 0;
  width: 100%;
}

ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;

  color: #2699fb;
  list-style-type: none;
  padding: 1em 0 1em 4.5em;
  margin: 0;
  font-size: 0.75em;
}

li {
  padding: 2em 5em 2em 1em;
}

ul a {
  color: #2699fb;
  text-decoration: none;
}

/* start grid */
.container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(auto-fill, 1fr);
  grid-gap: 3px;
}

/* HOME */

.title {
  color: #2699fb;
  font-weight: 300;
  font-size: 2em;
  grid-column: 2;
  grid-row: 1;
  margin-top: 150%;
}

.tiger-image {
  grid-column: 4 / span 3;
  grid-row: 1 / span 2;
}

/* WORK */

.illustration-image-1 {
  grid-column: 1 / span 2;
  grid-row: 4 / span 2;
}

.illustration-image-2 {
  grid-column: 1 / span 2;
  grid-row: 6 / span 2;
}

.illustration-image-3 {
  grid-column: 1 / span 2;
  grid-row: 8 / span 2;
}

.illustration-image-4 {
  grid-column: 3 / span 2;
  grid-row: 4 / span 2;
}

.illustration-image-5 {
  grid-column: 3 / span 2;
  grid-row: 6 / span 2;
}

.illustration-image-6 {
  grid-column: 3 / span 2;
  grid-row: 8 / span 2;
}

.illustration-image-7 {
  grid-column: 5 / span 2;
  grid-row: 4 / span 2;
}

.illustration-image-8 {
  grid-column: 5 / span 2;
  grid-row: 6 / span 2;
}

.illustration-image-9 {
  grid-column: 5 / span 2;
  grid-row: 8 / span 2;
}

/* ABOUT */

.me-image {
  grid-column: 1 / span 2;
  grid-row: 10 / span 2;
}

.about-section {
  grid-column: 4 / span 2;
  grid-row: 11;
  margin-bottom: 10em;
}

.title-about {
  color: #ffffff;
  font-size: 2em;
}

.text-about {
  color: #ffffff;
  font-size: 0.8em;
  line-height: 1.6em;
}

.background {
  background-color: #2699fb;
  grid-column: 1 / 7;
  grid-row: 10 / span 2;
}
